.btn{
    color: black;
}

.touch-type, .touch-quality{
    text-align: center;
    vertical-align: middle;
}

.confirm-btn{
    background-color: rgba(0, 128, 0, 0.478);
}
.confirm-btn:hover{
    color: white;
    transition: 0.2s;
}