<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli squadra</title>
</head>
<body>
    
    <div class="team-details container my-5">
    <!-- Info Squadra -->
    <div class="team-header card shadow p-4 mb-4 text-center">
        <h1 class="text-2xl font-bold">Dettagli Squadra</h1>
        <h2 class="text-xl mt-2">{{ team?.name }}</h2>
    </div>

  <!-- Giocatori -->
    <div class="players-section card shadow p-4 mb-4">
        <h2 class="text-xl font-semibold mb-3">Giocatori</h2>
        @if(players.length > 0){
        <ul class="grid grid-cols-2 gap-3">
            @for(player of players; track player.id){
            <li class="bg-gray-50 border rounded p-3 shadow-sm"
                    [routerLink]="['/player_details', player.id]" routerLinkActive="router-link-active">
                <p class="font-bold">{{ player.name }} {{ player.surname }}</p>
                <p class="text-sm text-gray-500">Ruolo: {{ player.role }}</p>
                <p class="text-sm text-gray-500">#{{ player.number }}</p>
            </li>
            }
        </ul>
        }@else{
        <p class="text-gray-500">Nessun giocatore registrato.</p>
        }
    </div>

    <!-- Partite -->
    <div class="matches-section card shadow p-4">
        <h2 class="text-xl font-semibold mb-3">Partite giocate</h2>
        @if(matches.length > 0){
        <ul class="grid gap-3">
            @for(match of matches; track match.id){
            <li
                class="border rounded p-3 shadow-sm m-2"
                    [routerLink]="['/match_details', match.id]" routerLinkActive="router-link-active">
                <h3 class="font-semibold text-lg">{{ match.name }}</h3>
                <p class="text-sm text-gray-500">Data: {{ globalService.transformDateFormat(match.timestamp) }}</p>
                <!-- <p class="text-sm text-gray-600">Risultato: {{ match.result }}</p> -->
            </li>
            }
        </ul>
        }@else{
        <p class="text-gray-500">Nessuna partita trovata.</p>
        }
    </div>
    </div>

</body>
</html>