<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli squadra</title>
</head>
<body>
    
    <div class="container py-5 mb-4">

        <h1 class="mb-4 text-center">Dettagli "nomesquadra"</h1>
        
        <!-- <span class="placeholder col-12 placeholder-xs" style="background-color: #10375c;"></span> -->
        
        <!-- Players section -->
        <h2 class="mb-4 " style="margin-top: 1vw; margin-left: 1vw;">Giocatori</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            <!-- Players list -->
            <div class="col">    
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Alessandro Rocco     |       #12     |   <small>schiacciatore</small></h5>
                        <!-- <h5 class="card-title">{{player.name}} {{player.surname}}   |   #{{player.number}}     |   {{player.role}}</h5> -->
                        <p class="card-text">BottaVolley 1div</p>
                        <a class="btn btn-primary"  [routerLink]="['/player_details']" routerLinkActive="router-link-active">Dettagli</a>
                    </div>
                </div>    
            </div>

        </div>

        <span class="placeholder col-12 placeholder-xs" style="background-color: #10375c;"></span>

        <!-- Matches section -->
        <h2 class="mb-4 " style="margin-top: 1vw; margin-left: 1vw;">Partite</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
             
            <div class="col">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Team A vs Team B</h5>
                        <p class="card-text">Punteggio: 3 - 2</p>
                        <p class="card-text"><small class="text-muted">Data: 01/08/2025</small></p>
                        <a [routerLink]="['/match_details']" routerLinkActive="router-link-active" class="btn btn-primary">Dettagli</a>
                    </div>
                </div>
            </div>
             
        </div>

    </div>
    
</body>
</html>