.modal-body {
    text-align: center;
}

.yellow-card-btn{
    background-color: rgba(255, 255, 0, 0.23);
}

.red-card-btn{
    background-color: rgba(255, 0, 0, 0.263);
}

.confirm-btn {
    background-color: rgba(0, 154, 0, 0.352);
}