<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="player-details">
        <!-- Info base -->
        <h1>Info giocatore:</h1>
        <div class="player-info">
            <h2>{{ player.name }} {{ player.surname }}</h2>
            <p>Ruolo: {{player.role}}</p>
        </div>

        <!-- Matches -->
        @if(matches.length > 0){
            <h2>Partite disputate:</h2>
            @for (match of matches; track match.id){
            <div class="player-matches">
                <h2>{{ match.name }}</h2>
                <p>Risultati: {{match.result}}</p>
            </div>
        }}@else{
            <h2>{{ player.name }} non ha ancora disputato nessuna partita.</h2>
        }
        <!-- Teams -->
        @if(teams.length > 0){
            <h2>Squadre:</h2>
            @for (team of teams; track team.id){
            <div class="player-teams">
                <h2>{{team.name}}</h2>
            </div>
        }}@else{
            <h2>{{ player.name }} non fa ancora parte di nessuna squadra.</h2>
        }
    </div>

</body>
</html>