body{
    color: #10375c;
}

.container{
    background-color: #f4f6ff
}

.card, 
.card-h5, 
.card-p,
.card-a{
    background-color: #f3c623;
    color: #10375c;
}

.btn{
    background-color: #eb8317;
    border-color: #10375c;
    color: #10375c;
}