<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giocatori</title>
</head>
<body>
    
    <div class="container py-5 mb-4">
        <h1 class="mb-4 text-center">Giocatori</h1>

        <div class="searchForPlayer mb-4">
            <div class="row">
                <div class="col-4 mx-auto">
                    <div class="input-group mx-auto">
                        <input type="text" class="form-control" placeholder="Cerca tra i giocatori..." aria-label="Cerca tra i giocatori" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Cerca</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Players list -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            <div class="col">    
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Alessandro Rocco     |       #12     |   <small>schiacciatore</small></h5>
                        <!-- <h5 class="card-title">{{player.name}} {{player.surname}}   |   #{{player.number}}     |   {{player.role}}</h5> -->
                        <p class="card-text">BottaVolley 1div</p>
                        <a class="btn btn-primary">Dettagli</a>
                    </div>
                </div>    
            </div>

        </div>

        <!-- Button for modal -->
        <button type="button" class="btn btn-floating" data-bs-toggle="modal" data-bs-target="#newPlayerModal">+</button>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newPlayerModal" tabindex="-1" aria-labelledby="Nuovo-giocatore" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="Nuovo-giocatore">Nuovo giocatore</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>ciao</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>