<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nome</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Cognome</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Scegli la password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <button type="submit" [routerLink]="['']" class="btn btn-primary">Registrati</button>
        </div>
        </form>
    </div>
  </div>
</div>