.subtitle {
    text-align: center;
    margin-bottom: 5%;
}

.insert-name {
    margin: 5%;
    margin-bottom: 8%;
}

.scroll-players {
    height: 400px; 
    overflow-y: scroll;
    text-align: center;
}

.btn-group-vertical {
    padding: 5%;
    overflow-y: scroll;
}

.btn .btn-check {
    margin: 10%;
}