    <!-- Modal -->
<ng-template #content let-modal>
    <form #teamForm="ngForm">   
        <div class="modal-header">
            <h4 class="modal-title" id="new-team-modal">Nuova squadra</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Dismiss click')"></button>
        </div>
        <div class="modal-body">

            <div class="subtitle"><h5>Scegli il nome</h5></div>

            <div class="insert-name"><input type="text" class="form-control" id="floatingInput" 
                placeholder="Inserisci il nome della squadra" required [(ngModel)]="newTeam.name" name="teamName"></div>
            
            <div class="subtitle"><h5>Scegli i giocatori</h5></div>
            
            <div class="btn-group-vertical w-100" role="group" aria-label="Player selection">
                @for (player of this.globalService.allPlayers(); track player.id){
                    <input type="checkbox" class="btn-check" id="player-{{player.id}}" name="player-{{player.id}}"
                        [value]="player" (change)="onCheckboxChange($event, player)" />
                    <label class="btn btn-outline-secondary text-start" for="player-{{player.id}}">{{ player.name }} {{ player.surname }}</label>
                }
            </div>
        </div>
    <div class="modal-footer">
    <button (click)="saveTeam(teamForm, modal)" class="btn btn-primary" [disabled]="teamForm.invalid">Conferma squadra</button>
    </div>
       
    </form> 
</ng-template>
